---

import DarkMode from '../../components/layout/Btn-DarkMode.astro';

const links = [
  {
    ref: '01',
    name: 'About',
    href: '/about',
  },
  {
    ref: '02',
    name: 'Services',
    href: '/services',
  },
  {
    ref: '03',
    name: 'Contact',
    href: '/contact',
  },
  {
    ref: '04',
    name: 'Enquire',
    href: '/Enquire',
  },
];
---
<style>
  .arrow {
    border: solid #000;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
#logo, #bookBtn, #navContainer {
  transition: 0.2s;
}
#contain, #website-menu { max-width: 1920px; }
</style>



<body class="">
	<nav class="sticky top-0 z-50 backdrop-blur-xl drop-shadow-sm px-4 py-4 flex justify-between items-center bg-primary-50/60 dark:bg-slate-900">
		<a class="text-3xl font-bold leading-none" href="/">
			<span class="sr-only">Burrowin Electrical</span>
        <img id="logo"
          class="h-8 xs:h-10 lg:h-12 w-auto"
          :src="$store.theme.isDark ? '/br-logo-dark.svg' : '/br-logo.svg'"
          alt="Burrowin Electrical Logo"
        />
		</a>
		<div class="lg:hidden ml-auto">
			<button class="navbar-burger flex items-center text-blue-600 p-3">
				<svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<title>Mobile menu</title>
					<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
				</svg>
			</button>
		</div>
		<ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:items-center lg:w-auto space-x-8 xl:space-x-16">
			<li><a class="text-sm font-medium text-gray-400 hover:text-gray-500" href="/services/residential">Residential</a></li>
			
			<li><a class="text-sm font-medium text-gray-400 hover:text-gray-500" href="/services/commercial">Commercial</a></li>
			
			<li><a class="text-sm font-medium text-gray-400 hover:text-gray-500" href="/services/data">Data / CCTV</a></li>
			
			<li><a class="text-sm font-medium text-gray-400 hover:text-gray-500" href="/services/access">Access Control</a></li>
		</ul>
    <!-- Perfect Brand Buttons both secondary and primary -->
    <div class="inline-flex items-center gap-4">
      
      <a class="hidden lg:inline-block duration-200  text-black bg-slate-200 hover:bg-slate-400 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400  border border-transparent rounded-md px-5 py-3 text-base font-medium" href="/contact">Contact</a>
      <a class="hidden lg:inline-block duration-200 text-black bg-primary-600 hover:bg-primary-800 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 rounded-md border border-transparent px-5 py-3 text-base font-medium" href="/enquire">Enquire</a>      
      <DarkMode />
      
    </div>

	</nav>
	<div class="navbar-menu relative z-50 hidden">
		<div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
		<nav class="fixed top-0 left-0 bottom-0 flex flex-col justify-start w-3/4 max-w-sm py-6 px-6 bg-slate-100 dark:bg-slate-200 border-r overflow-y-auto">
			<div class="flex items-center mb-8">
				<a class="mr-auto text-3xl font-bold leading-none" href="/">
					<img
            class="h-10 w-auto"
            :src="$store.theme.isDark ? '/br-logo-sqr.svg' : '/br-logo-sqr.svg'"
            alt="Burrowin Electrical - Gold Coast Electrician"
          />
				</a>
				<button class="navbar-close">
					<svg class="h-6 w-6 text-gray-400 dark:text-black cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
					</svg>
				</button>
			</div>
			<div class="mb-8">
        <div class="block w-fit">
          <h2 id="chipHeader" class="mb-2 px-2 py-1 font-thin uppercase tracking-widest text-xs text-white bg-primary-600 rounded-sm">Services:</h2>  
        </div>
        <ul>
					<li class="mb-2">
						<a class="block text-lg font-medium text-gray-400 dark:text-black hover:bg-blue-50 hover:text-blue-600" href="/services/residential">Residential</a>
					</li>
					<li class="mb-2">
						<a class="block text-lg font-medium text-gray-400 dark:text-black hover:bg-blue-50 hover:text-blue-600" href="/services/commercial">Commercial</a>
					</li>
					<li class="mb-2">
						<a class="block text-lg font-medium text-gray-400 dark:text-black hover:bg-blue-50 hover:text-blue-600" href="/services/data">Data / CCTV</a>
					</li>
					<li class="mb-2">
						<a class="block text-lg font-medium text-gray-400 dark:text-black hover:bg-blue-50 hover:text-blue-600" href="/services/access">Access Control</a>
					</li>
				</ul>
			</div>
      <div class="mb-8">
        <div class="block w-fit">
          <h2 id="chipHeader" class="mb-2 px-2 py-1 font-thin uppercase tracking-widest text-xs text-white bg-primary-600 rounded-sm">Locations:</h2>  
        </div>
        <ul>
					<li class="mb-2">
						<a class="block text-lg font-medium text-gray-400 dark:text-black hover:bg-blue-50 hover:text-blue-600" href="/service-areas/brisbane">Brisbane</a>
					</li>
					<li class="mb-2">
						<a class="block text-lg font-medium text-gray-400 dark:text-black hover:bg-blue-50 hover:text-blue-600" href="/service-areas/gold-coast">Gold Coast</a>
					</li>
					<li class="mb-2">
						<a class="block text-lg font-medium text-gray-400 dark:text-black hover:bg-blue-50 hover:text-blue-600" href="/service-areas/sunshine-coast">Sunshine Coast</a>
					</li>
					<li class="mb-2">
						<a class="block text-lg font-medium text-gray-400 dark:text-black hover:bg-blue-50 hover:text-blue-600" href="/service-areas/australia">Australia-Wide</a>
					</li>
				</ul>
			</div>
			<div class="mt-auto">
					<a class="w-full mt-6 mr-2 duration-200 text-black bg-slate-100 hover:bg-slate-300 dark:hover:bg-primary-400 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 inline-flex items-center justify-center rounded-md border border-transparent px-5 py-3 text-base font-medium" href="#">Contact</a>
					<a class="w-full mt-6 mr-2 duration-200 bg-primary-600 hover:bg-primary-800 dark:hover:bg-primary-400 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 inline-flex items-center justify-center rounded-md border border-transparent px-5 py-3 text-base font-medium text-white" href="#">Enquire</a>
			</div>
		</nav>
	</div>
</body>

<script>
// Burger menus
document.addEventListener('DOMContentLoaded', function() {
    // open
    const burger = document.querySelectorAll('.navbar-burger');
    const menu = document.querySelectorAll('.navbar-menu');

    if (burger.length && menu.length) {
        for (var i = 0; i < burger.length; i++) {
            burger[i].addEventListener('click', function() {
                for (var j = 0; j < menu.length; j++) {
                    menu[j].classList.toggle('hidden');
                }
            });
        }
    }

    // close
    const close = document.querySelectorAll('.navbar-close');
    const backdrop = document.querySelectorAll('.navbar-backdrop');

    if (close.length) {
        for (var i = 0; i < close.length; i++) {
            close[i].addEventListener('click', function() {
                for (var j = 0; j < menu.length; j++) {
                    menu[j].classList.toggle('hidden');
                }
            });
        }
    }

    if (backdrop.length) {
        for (var i = 0; i < backdrop.length; i++) {
            backdrop[i].addEventListener('click', function() {
                for (var j = 0; j < menu.length; j++) {
                    menu[j].classList.toggle('hidden');
                }
            });
        }
    }
});
</script>