<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-4 sm:gap-6">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">About</h1>
      <p class="text-primary-950/70 dark:text-primary-200/70 mx-auto max-w-xl text-lg sm:text-xl">
        Burrowin Electrical has been servicing Brisbane and the Gold Coast with high quality electrical work for over 15 years. Capable of handling both small and large contracts in the residential, commercial and government sector.
      </p>
      <p class="text-primary-950/70 dark:text-primary-200/70 mx-auto max-w-xl text-lg sm:text-xl">
        If you're looking for an electrician you can rely on, give me a call, contact or enquire online and I'll happily introduce myself as soon as possible.
      </p>
      <p class="text-primary-950/70 dark:text-primary-200/70 mx-auto max-w-xl text-lg sm:text-xl italic">
        - Taylor Burrowin
      </p>
    </div>
  </div>
</section>
