---
const values = [
  [
    {
      ref: '01',
      name: 'Precision and Expertise',
      description:
        "At Burrowin Electrical, we uphold precision and expertise as core values in all our electrical work. Our team of skilled electricians is dedicated to delivering top-notch craftsmanship, ensuring that every installation and repair meets the highest industry standards. With a commitment to expertise, we guarantee reliable and efficient electrical solutions for both residential and commercial clients on the Gold Coast.",
    },
    {
      ref: '02',
      name: 'Attention to Detail',
      description:
        "Burrowin Electrical places an uncompromising emphasis on attention to detail. We believe that every electrical project, big or small, deserves meticulous scrutiny. Our electricians pay close attention to every element, from the smallest wiring connection to the overall system architecture. With our commitment to detail, you can trust that your electrical work will be executed with precision and thoroughness, guaranteeing the highest quality outcomes.",
    }
  ],
  [
    {
      ref: '03',
      name: 'Quality Builds for Longevity',
      description:
        "We take pride in our commitment to quality builds at Burrowin Electrical. From wiring systems to electrical infrastructure, our focus is on creating solutions that stand the test of time. Our meticulous approach ensures longevity, providing our clients with electrical installations that are not only reliable but also durable. Choose Burrowin Electrical for quality builds that prioritize the longevity of your electrical systems.",
    },
    {
      ref: '04',
      name: 'Client-Centric Approach',
      description:
        "At Burrowin Electrical, a client-centric approach is at the heart of our values. We prioritize understanding your unique needs and preferences, tailoring our electrical solutions to align with your goals. Our commitment to exceptional customer service ensures open communication, transparency, and a positive experience throughout the entire project. Choose Burrowin Electrical for electrical work that not only meets technical excellence but also aligns seamlessly with your specific requirements.",
    }
  ],
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-8 lg:gap-12">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our Core Values</h2>
      <div class="grid gap-8 lg:grid-cols-2">
        {
          values.map((column, index) => (
            <div class:list={['space-y-8', index === 1 && 'lg:mt-16']}>
              {column.map((value) => (
                <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
                  <p class="text-sm">{value.ref}</p>
                  <div class="flex flex-col gap-4">
                    <h3 class="text-xl font-medium">{value.name}</h3>
                    <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                      {value.description}
                    </p>
                  </div>
                </div>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
