---
import Cta from '../../components/home/Cta-ContactShort.astro';
import SlotHero from '../../components/home/Slot-HeroFullscreen.astro';

let heroBackgroundUrl = 'url(/be/kitchens-coloured.webp)' // Define image for Slot-HeroFullscreen and then call BackgroundURL in Section


import SectionContent from "../../components/home/Slot-Indent-Info.astro";

import Layout from '../../layouts/Layout.astro';

---
<style>
  #contain { max-width: 1920px; }
</style>

<Layout
  description="Burrowin Electrical is your trusted partner for all your residential electrical needs. Our team of highly skilled and licensed electricians is dedicated to providing exceptional service."
  title="Brisbane Electricians · Burrowin Electrical"
>

    <SlotHero heroBackgroundUrl={heroBackgroundUrl}>
      <Fragment slot="smltitle">
        Brisbane Electrictians and Electrical Installations
      </Fragment>
      <Fragment slot="title">
        Leading Brisbane Electricians for Over 15 Years
      </Fragment>
      <Fragment slot="desc">
        Burrowin Electrical is your trusted partner for all your residential electrical needs. Our team of highly skilled and licensed electricians is dedicated to providing exceptional service, ensuring the safety and functionality of your home's electrical system.
      </Fragment>
    </SlotHero>
    

          <SectionContent>
            <Fragment slot="smltitle">
              Leading Brisbane Electricians
            </Fragment>
            <Fragment slot="title">
              Inner Brisbane
            </Fragment>
            <Fragment slot="desc">
              
              <ul class="grid grid-cols-2 gap-y-4 gap-x-8">
                <li>Fortitude Valley</li>
                <li>New Farm</li>
                <li>Teneriffe</li>
                <li>Newstead</li>
                <li>Brisbane CBD</li>
                <li>Spring Hill</li>
                <li>Paddington</li>
                <li>Woolloongabba</li>
                <li>Highgate Hill</li>
                <li>Milton</li>
              </ul>
            </Fragment>
            
          </SectionContent>


          <SectionContent>
            <Fragment slot="smltitle">
              Leading Brisbane Electricians
            </Fragment>
            <Fragment slot="title">
              East Brisbane
            </Fragment>
            <Fragment slot="desc">
              <ul class="grid grid-cols-2 gap-y-4 gap-x-8">
                <li>Carina</li>
                <li>Cannon Hill</li>
                <li>Morningside</li>
                <li>Bulimba</li>
                <li>Camp Hill</li>
                <li>Coorparoo</li>
                <li>Kalinga</li>
                <li>Norman Park</li>
                <li>Drayton</li>
              </ul>
            </Fragment>
            
          </SectionContent>


          <SectionContent>
            <Fragment slot="smltitle">
              Leading Brisbane Electricians
            </Fragment>
            <Fragment slot="title">
              North Brisbane
            </Fragment>
            <Fragment slot="desc">
            
                <ul class="grid grid-cols-2 gap-y-4 gap-x-8">
                  <li>Kelvin Grove</li>
                  <li>Herston</li>
                  <li>Windsor</li>  
                  <li>Clayfield</li>
                  <li>Nundah</li>
                  <li>Eagle Farm</li>
                  <li>Gateway</li>
                  <li>Brisbane Airport</li>
                </ul>
            </Fragment>
            
          </SectionContent>



          <SectionContent>
            <Fragment slot="smltitle">
              Leading Brisbane Electricians
            </Fragment>
            <Fragment slot="title">
              South Brisbane
            </Fragment>
            <Fragment slot="desc">
            
              <ul class="grid grid-cols-2 gap-y-4 gap-x-8">
                <li>South Bank </li>
                <li>West End</li>
                <li>South Brisbane</li>
                <li>St Lucia</li>
                <li>Woolloongabba</li>
                <li>Annerley</li>
                <li>Greenslopes</li>
                <li>Coorparoo</li>
                <li>Dutton Park</li>
              </ul>
            </Fragment>
            
          </SectionContent>



          <SectionContent>
            <Fragment slot="smltitle">
              Leading Brisbane Electricians
            </Fragment>
            <Fragment slot="title">
              Western Suburbs
            </Fragment>
            <Fragment slot="desc">
              <ul class="grid grid-cols-2 gap-y-4 gap-x-8">
                <li>The Gap</li>
                <li>Ashgrove</li>
                <li>St Peters</li>
                <li>Indooroopilly</li>
                <li>Taringa</li>
                <li>Toowong</li>
                <li>Kenmore</li>
                <li>The Lakes</li>
              </ul>
            </Fragment>
            
          </SectionContent>



  <Cta />



</Layout>
