---
import Cta from '../../components/home/Cta-ContactShort.astro';
import SlotHero from '../../components/home/Slot-HeroFullscreen.astro';

let heroBackgroundUrl = 'url(/be/kitchens-coloured.webp)' // Define image for Slot-HeroFullscreen and then call BackgroundURL in Section

import SectionContent from "../../components/home/Slot-Indent-Info.astro";


import Layout from '../../layouts/Layout.astro';

---
<style>
  #contain { max-width: 1920px; }
</style>

<Layout
  description="Burrowin Electrical is your trusted partner for all your residential electrical needs. Our team of highly skilled and licensed electricians is dedicated to providing exceptional service."
  title="Gold Coast Electricians · Burrowin Electrical"
>

    <SlotHero heroBackgroundUrl={heroBackgroundUrl}>
      <Fragment slot="smltitle">
        Gold Coast Electrictians and Electrical Installations
      </Fragment>
      <Fragment slot="title">
        Leading Gold Coast Electricians for Over 15 Years
      </Fragment>
      <Fragment slot="desc">
        Burrowin Electrical is your trusted partner for all your residential electrical needs. Our team of highly skilled and licensed electricians is dedicated to providing exceptional service, ensuring the safety and functionality of your home's electrical system.
      </Fragment>
    </SlotHero>
    

    <SectionContent>
      <Fragment slot="smltitle">
        Leading Gold Coast Electricians
      </Fragment>
      <Fragment slot="title">
        Northern Gold Coast
      </Fragment>
      <Fragment slot="desc">
        
        <ul class="grid grid-cols-2 gap-y-4 gap-x-8">
          <li>Ormeau</li>
          <li>Pimpama</li>
          <li>Coomera</li>
          <li>Upper Coomera</li>
          <li>Helensvale</li>
          <li>Ashmore</li>
          <li>Bundall</li>
          <li>Southport</li>
          <li>Main Beach</li>
          <li>Surfers Paradise</li>
        </ul>
      </Fragment>
      
    </SectionContent>


    <SectionContent>
      <Fragment slot="smltitle">
        Leading Gold Coast Electricians
      </Fragment>
      <Fragment slot="title">
        Central Gold Coast
      </Fragment>
      <Fragment slot="desc">
        <ul class="grid grid-cols-2 gap-y-4 gap-x-8">
          <li>Chevron Island</li>
          <li>Paradise Waters</li>
          <li>Broadbeach Waters</li>
          <li>Broadbeach</li>
          <li>Mermaid Beach</li>
          <li>Miami</li>
          <li>Robina</li>
          <li>Varsity Lakes</li>
          <li>Pacific Fair</li>
          <li>Hibernia</li>
        </ul>
      </Fragment>
      
    </SectionContent>


    <SectionContent>
      <Fragment slot="smltitle">
        Leading Gold Coast Electricians
      </Fragment>
      <Fragment slot="title">
        South Gold Coast
      </Fragment>
      <Fragment slot="desc">
      
          <ul class="grid grid-cols-2 gap-y-4 gap-x-8">
            <li>Burleigh Heads</li>
            <li>Tallebudgera</li>
            <li>Palm Beach</li>
            <li>Currumbin Valley</li>
            <li>Currumbin Waters</li>
            <li>Tugun</li>
            <li>Coolangatta</li>
            <li>Greenmount</li>
            <li>Duranbah</li>
          </ul>
      </Fragment>
      
    </SectionContent>





  <Cta />



</Layout>
