---
import Cta from '../../components/home/Cta-ContactShort.astro';
import SlotHero from '../../components/home/Slot-HeroFullscreen.astro';

let heroBackgroundUrl = 'url(/be/kitchens-coloured.webp)' // Define image for Slot-HeroFullscreen and then call BackgroundURL in Section

import SectionContent from "../../components/home/Slot-Indent-Info.astro";

import Layout from '../../layouts/Layout.astro';

---
<style>
  #contain { max-width: 1920px; }
</style>

<Layout
  description="Burrowin Electrical is your trusted partner for all your residential electrical needs. Our team of highly skilled and licensed electricians is dedicated to providing exceptional service."
  title="Sunshine Coast Electricians · Burrowin Electrical"
>

    <SlotHero heroBackgroundUrl={heroBackgroundUrl}>
      <Fragment slot="smltitle">
        Sunshine Coast Electrictians and Electrical Installations
      </Fragment>
      <Fragment slot="title">
        Leading Sunshine Coast Electricians for Over 15 Years
      </Fragment>
      <Fragment slot="desc">
        Burrowin Electrical is your trusted partner for all your residential electrical needs. Our team of highly skilled and licensed electricians is dedicated to providing exceptional service, ensuring the safety and functionality of your home's electrical system.
      </Fragment>
    </SlotHero>
    

    <SectionContent>
      <Fragment slot="smltitle">
        Leading Sunshine Coast Electricians
      </Fragment>
      <Fragment slot="title">
        Noosa
      </Fragment>
      <Fragment slot="desc">
        
        <ul class="grid grid-cols-2 gap-y-4 gap-x-8">
          <li>Sunshine Beach</li>
          <li>Noosa Heads</li>
          <li>Tewantin</li>
          <li>Noosa Junction</li>
          <li>Noosaville</li>
          <li>Peregian Beach</li>
        </ul>
      </Fragment>
      
    </SectionContent>


    <SectionContent>
      <Fragment slot="smltitle">
        Leading Sunshine Coast Electricians
      </Fragment>
      <Fragment slot="title">
        Maroochydore
      </Fragment>
      <Fragment slot="desc">
        <ul class="grid grid-cols-2 gap-y-4 gap-x-8">
          <li>Maroochydore CBD</li>
          <li>Mooloolaba</li>
          <li>Alexandra Headland</li>
          <li>Maroochydore River</li>
          <li>Sunshine Coast Airport</li>
          <li>Dulux Valley</li>
        </ul>
      </Fragment>
      
    </SectionContent>


    <SectionContent>
      <Fragment slot="smltitle">
        Leading Sunshine Coast Electricians
      </Fragment>
      <Fragment slot="title">
        Kawana Waters
      </Fragment>
      <Fragment slot="desc">
      
          <ul class="grid grid-cols-2 gap-y-4 gap-x-8">
            <li>Kawana Waters</li>
            <li>Buddina</li>
            <li>Little Mountain</li>
            <li>Mountain Creek</li>
            <li>Warana</li>
          </ul>
      </Fragment>
      
    </SectionContent>



    <SectionContent>
      <Fragment slot="smltitle">
        Leading Sunshine Coast Electricians
      </Fragment>
      <Fragment slot="title">
        Hinterland
      </Fragment>
      <Fragment slot="desc">
      
        <ul class="grid grid-cols-2 gap-y-4 gap-x-8">
          <li>Maleny</li>
          <li>Montville</li>
          <li>Flaxton</li>
          <li>Yandina</li>
          <li>Eumundi</li>
        </ul>
      </Fragment>
      
    </SectionContent>



    <SectionContent>
      <Fragment slot="smltitle">
        Leading Sunshine Coast Electricians
      </Fragment>
      <Fragment slot="title">
        Northern Sunshine Coast
      </Fragment>
      <Fragment slot="desc">
        <ul class="grid grid-cols-2 gap-y-4 gap-x-8">
          <li>Caloundra</li>
          <li>Golden Beach</li>
          <li>Kings Beach</li>
          <li>Dicky Beach</li>
          <li>Moffat Beach</li>
          <li>Kawungan</li>
        </ul>
      </Fragment>
      
    </SectionContent>


  <Cta />



</Layout>
