---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/home/Hero.astro';
import FullScreenSliderHero from '../components/home/Slot-ExtraLargeSlider.astro';

import Services from '../components/home/Section-Services.astro';

import Testimonials from '../components/home/Section-Testimonials.astro';

import Process from '../components/home/Section-Process.astro';
import Intro from '../components/home/Section-Numbers-Intro.astro';
import Clients from '../components/home/Section-IconGrid-Accreditors.astro';

import CtaContactShort from '../components/home/Cta-ContactShort.astro';

import SlotImgGsap from '../components/home/slot-img.astro';
import SlotImgReverseGsap from '../components/home/slot-img-rev.astro';

import SlotColourBlock from '../components/home/Slot-ColourBlock.astro';

import FaqHome from '../components/home/Faq-Home.astro'



import MarketIntro from '../components/home/Basic-Intro-Market.astro';
import PricingMarket from '../components/pricing/PricingTable-Duo-Market.astro';
import MarketingSliddy from '../components/home/Sliddy-Sml-Marketing.astro';

import CtaContactServices from '../components/home/Cta-ContactServices.astro';



let backgroundUrl = 'url(/be/qual-hero.webp)' // Define image for Slot-HeroFullscreen and then call BackgroundURL in Section
let backgroundUrl2 = 'url(/be/kitch-hero.webp)' // Define image for Slot-HeroFullscreen and then call BackgroundURL in Section
let backgroundUrl3 = 'url(/be/council-hero.webp)' // Define image for Slot-HeroFullscreen and then call BackgroundURL in Section
let backgroundUrl4 = 'url(/be/outd-hero.webp)' // Define image for Slot-HeroFullscreen and then call BackgroundURL in Section


---
<style>
.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
</style>
<Layout
  description="Servicing local and nation-wide electrical contracts with the highest of quality. A Gold Coast based Electrician you can trust with over 15 years of experience."
  title="Home · Burrowin Electrical"
>
  

  <Hero />

  <FullScreenSliderHero backgroundUrl={backgroundUrl} backgroundUrl2={backgroundUrl2} backgroundUrl3={backgroundUrl3} backgroundUrl4={backgroundUrl4}>
    <Fragment slot="smltitle">
      Experienced Electricians for Residential Builds
    </Fragment>
    <Fragment slot="title">
      Residential Electrical Installations
    </Fragment>
    <Fragment slot="desc">
      With over 15 years of certified electrical expirience, you can trust us for complex jobs.
    </Fragment>
    
    <Fragment slot="smltitle2">
      Experienced Electricians for Commercial Builds
    </Fragment>
    <Fragment slot="title2">
      Commercial Electrical Installations
    </Fragment>
    <Fragment slot="desc2">
      We work with a range of businesses to install certified electrical installations both indoors and outdoors.
    </Fragment>
  
    <Fragment slot="smltitle3">
      Experienced Electricians with Data and CCTV
    </Fragment>
    <Fragment slot="title3">
      Data and CCTV Electrical Installations
    </Fragment>
    <Fragment slot="desc3">
      We take complete pride in our work, every single time. We love what we do, and we love doing it well!
    </Fragment>

    <Fragment slot="smltitle4">
      Experienced Electricians for Access Control
    </Fragment>
    <Fragment slot="title4">
      Access Control Electrical Installations
    </Fragment>
    <Fragment slot="desc4">
      Improve security and access to your home or commercial space with expert installations of modern access control systems.
    </Fragment>
  </FullScreenSliderHero>
  


  <Services />
  <Testimonials />
  



  <SlotImgGsap> 
    <Fragment slot="smltitle">
      Quality Residential Electrical Work
    </Fragment>
    <Fragment slot="title">
      Stunning New Home Builds
    </Fragment>
    <Fragment slot="desc">
      At Burrowin Electrical, we redefine residential living through our specialized electrical contracts and builds on the Gold Coast. With a commitment to quality builds for longevity and an uncompromising attention to detail, our skilled electricians transform homes into safe, energy-efficient havens. From custom wiring solutions to comprehensive electrical renovations, Burrowin Electrical is your trusted partner in creating residences that seamlessly blend comfort, functionality, and cutting-edge electrical craftsmanship.
    </Fragment>
    <Fragment slot="cover">
      <img
        src="/be/newhomes-coloured.webp"
        class="w-full"/>
    </Fragment>
  </SlotImgGsap>

  <SlotImgReverseGsap> 
    <Fragment slot="smltitle">
      Quality Commerical Electrical Work
    </Fragment>
    <Fragment slot="title">
      Experts in Commercial Electrical
    </Fragment>
    <Fragment slot="desc">
      Burrowin Electrical stands as the premier choice for commercial electrical contracts and builds on the Gold Coast. Our expert team combines precision and innovation to deliver top-tier electrical solutions tailored for businesses. From office wiring to advanced electrical infrastructure, trust Burrowin Electrical to power your commercial ventures with reliability and efficiency, setting the gold standard for electrical excellence in the corporate landscape.
    </Fragment>
    <Fragment slot="cover">
      <img
        src="/be/bathrooms-coloured.webp"
        class="w-full"
        alt="custom shopify website designer on the Gold Coast. Improving sales and conversion rate for shopify business owners by offering website design, brand design and digital marketing management."
      />
    </Fragment>
  </SlotImgReverseGsap>
  

  <CtaContactShort />




  <SlotImgGsap> 
    <Fragment slot="smltitle">
      Access Control Electrical Installers
    </Fragment>
    <Fragment slot="title">
      Modern Access Control Systems
    </Fragment>
    <Fragment slot="desc">
      Experienced team for installing modern and customized access control systems, utilizing state-of-the-art technology to fortify your premises. Partnering with Cura1 to provide high-quality access control products. Burrowin Electrical sets the standard for secure access control installations.
    </Fragment>
    <Fragment slot="cover">
      <div class="video-wrap">
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/4D4Ckg-cq0U?si=TrpYkWCgq0tvqCUr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </Fragment>
  </SlotImgGsap>

  <SlotImgReverseGsap> 
    <Fragment slot="smltitle">
      Data & CCTV Electrical Installaters
    </Fragment>
    <Fragment slot="title">
      Data and Security Cable Installations
    </Fragment>
    <Fragment slot="desc">
      Partnering with Cura1 to offer businesses industry-leading security products from silent alarms for schools and shopping centres. Skilled electricians specializing in Cura1 product installations, guaranteeing cutting-edge security solutions for safety and peace of mind.
    </Fragment>
    <Fragment slot="cover">
      <div class="video-wrap">
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/yScAFtQoero?si=MZwTb-e_eYk7NG5o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </Fragment>
  </SlotImgReverseGsap>


  <SlotColourBlock> 
    <Fragment slot="smltitle">
      Electrical Emergency Call Outs
    </Fragment>
    <Fragment slot="title">
      We're Here to Help!
    </Fragment>
    <Fragment slot="desc">
      If you have an urgent electrical need, contact us with information about your problem using our website or call me on <a class="text-primary-600 font-semibold" href="tel:0409 379 309">0409 379 309</a>.
    </Fragment>
    <Fragment slot="cover">
      <img
        src="/be/taylor-headshot.webp"
        class="w-full"
        alt="Taylor Burrowin from Burrowin Electrical - A Gold Coast based Electrician with over 15 years of experience."
      />
    </Fragment>
  </SlotColourBlock>
  

  <FaqHome />

</Layout>
