
<!-- SVG CSS and Animate for Aidxn Moving Logo -->
<!-- Velocity8 Large Slider Settings -->
<style>
  svg{width:100%;height:100%;perspective:50px}circle{stroke:#26003A;stroke-width:8px;fill:none}.equator{stroke:#a600ff;transform:rotateZ(-20deg) rotateX(125deg)}.meridian{animation:2s linear infinite turn;transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--start))}@keyframes turn{100%{transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--end))}}
  #heroArea {  display: flex; justify-content: center; align-items: center; padding: 160px 0; }
  #contain { max-width: 1920px; }
</style>

<section id="heroArea" class="">
  <div id="contain" class="mx-auto w-full px-4 sm:px-6 lg:px-8">
    
      <div class="flex flex-col lg:flex-row items-start lg:items-center gap-8 sm:gap-12">

        <div class="w-full lg:w-3/5 gap-6"> <!-- holding lg:w-2/3 xl:w-1/2 until image added above 3 lines  -->
          <h1 class="text-xs uppercase font-thin tracking-widest pb-4">
            Leading Gold Coast Electrictian
          </h1>
          <h2 class="font-medium tracking-tighter md:tracking-tight max-w-5xl text-4xl sm:text-5xl md:text-6xl xl:text-7xl">
            Quality Electrical Work, Trusted for Over 15 Years.
          </h2>
          <p class="text-lg xs:text-xl max-w-4xl my-4">
            Known for providing complete commitment to quality and customer satisfaction.
            Over 15 years commercial electrical experience, servicing for local, nation-wide, and government contracts.
          </p>
          
          <a
            href="/about"
            class="mt-6 mr-2 bg-primary-600 hover:bg-primary-800 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 inline-flex items-center justify-center rounded-md border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
          >
            About Us
          </a>
        </div>

        <div class=" w-full lg:w-2/5 items-start">
          <div id="header" class="text-center text-xs uppercase font-thin tracking-widest my-4 pb-8">
            <h4>
              Partners & Accreditors
            </h4>
          </div>
          <div id="griddy" class="grid grid-cols-3 gap-x-16 gap-y-24 items-center max-w-xl mx-auto">

            <img 
              class="w-full" :src="$store.theme.isDark ? '/partners/trader.png' : '/partners/trader.png'" alt="Electrical supply parter - Hutchinson" 
            />
            <img 
              class="w-full" :src="$store.theme.isDark ? '/partners/clevertronics.png' : '/partners/clevertronics.png'" alt="Electrical supply parter - Hutchinson" 
            />
            <img 
              class="w-full" :src="$store.theme.isDark ? '/partners/hager.png' : '/partners/hager.png'" alt="Electrical supply parter - Hutchinson" 
            />
            <img 
              class="w-full" :src="$store.theme.isDark ? '/partners/electra.png' : '/partners/electra.png'" alt="Electrical supply parter - Hutchinson" 
            />
            <img 
              class="w-full" :src="$store.theme.isDark ? '/partners/legrand.png' : '/partners/legrand.png'" alt="Electrical supply parter - Hutchinson" 
            />
            <img 
              class="w-full" :src="$store.theme.isDark ? '/partners/nph.png' : '/partners/nph.png'" alt="Electrical supply parter - Hutchinson" 
            />
            <img 
              class="w-full" :src="$store.theme.isDark ? '/partners/sal.png' : '/partners/sal.png'" alt="Electrical supply parter - Hutchinson" 
            />
            <img 
              class="w-full" :src="$store.theme.isDark ? '/partners/prysmian.png' : '/partners/prysmian.png'" alt="Electrical supply parter - Hutchinson" 
            />
            <img 
              class="w-full" :src="$store.theme.isDark ? '/partners/schneider.png' : '/partners/schneider.png'" alt="Electrical supply parter - Hutchinson" 
            />
            

          </div>
        </div>
      </div>
  </div>
</section>

