
<!-- SVG CSS and Animate for Aidxn Moving Logo -->
<!-- Velocity8 Large Slider Settings -->
<style>
  svg{width:100%;height:100%;perspective:50px}circle{stroke:#26003A;stroke-width:8px;fill:none}.equator{stroke:#a600ff;transform:rotateZ(-20deg) rotateX(125deg)}.meridian{animation:2s linear infinite turn;transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--start))}@keyframes turn{100%{transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--end))}}
  #heroArea {  display: flex; justify-content: center; align-items: center; }
  #contain { max-width: 1920px; }
</style>

<section id="heroArea" class="my-16">
  <div id="contain" class="mx-auto w-full px-4 sm:px-6 lg:px-8 my-16">
    
      <div class="flex flex-col lg:flex-row items-start lg:items-center gap-8 sm:gap-12">

        <div class="w-full lg:w-3/5 gap-6"> <!-- holding lg:w-2/3 xl:w-1/2 until image added above 3 lines  -->
          <div class="block w-fit">
            <h1 id="chipHeader" class="my-4 px-2 py-1 font-thin uppercase tracking-widest text-xs text-white bg-primary-600 rounded-sm">High-Quality Electical Installaters</h1>  
          </div>
          
          <h2 class="font-medium tracking-tighter md:tracking-tight max-w-4xl text-3xl sm:text-4xl md:text-5xl xl:text-6xl">
            Experienced Electricians, trusted for over 15 years.
          </h2>
          <p class="text-lg xs:text-xl max-w-4xl my-4">
            Known for providing complete commitment to quality and customer satisfaction.
            Over 15 years commercial electrical experience, servicing for local, nation-wide, and government contracts.
          </p>
          
          <a
            href="/about"
            class="mt-6 mr-2 bg-primary-600 hover:bg-primary-800 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 inline-flex items-center justify-center rounded-md border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
          >
            About Us
          </a>
        </div>

        <div class=" w-full lg:w-2/5 items-start my-16">
          <div id="header" class="text-center text-xs uppercase font-thin tracking-widest my-4 pb-8">
            <div class="block w-fit mx-auto">
              <h3 id="chipHeader" class="my-4 px-2 py-1 font-thin uppercase tracking-widest text-xs text-white bg-primary-600 rounded-sm">Partners & Accreditors</h3>  
            </div>
            
          </div>
          <div id="griddy" class="grid grid-cols-3 gap-x-16 gap-y-24 items-center max-w-xl mx-auto">

            <img 
              class="w-full" :src="$store.theme.isDark ? '/partners/trader.png' : '/partners/trader.png'" alt="Electrical supply parter - Trader" 
            />
            <img 
              class="w-full" :src="$store.theme.isDark ? '/partners/clevertronics.png' : '/partners/clevertronics.png'" alt="Electrical supply parter - Clevertronics" 
            />
            <img 
              class="w-full" :src="$store.theme.isDark ? '/partners/hager.png' : '/partners/hager.png'" alt="Electrical supply parter - Hager" 
            />
            <img 
              class="w-full" :src="$store.theme.isDark ? '/partners/electra.png' : '/partners/electra.png'" alt="Electrical supply parter - Electra" 
            />
            <img 
              class="w-full" :src="$store.theme.isDark ? '/partners/legrand.png' : '/partners/legrand.png'" alt="Electrical supply parter - Legrand" 
            />
            <img 
              class="w-full" :src="$store.theme.isDark ? '/partners/nph.png' : '/partners/nph.png'" alt="Electrical supply parter - NPH" 
            />
            <img 
              class="w-full" :src="$store.theme.isDark ? '/partners/sal.png' : '/partners/sal.png'" alt="Electrical supply parter - Sal" 
            />
            <img 
              class="w-full" :src="$store.theme.isDark ? '/partners/prysmian.png' : '/partners/prysmian.png'" alt="Electrical supply parter - Prysmian" 
            />
            <img 
              class="w-full" :src="$store.theme.isDark ? '/partners/schneider.png' : '/partners/schneider.png'" alt="Electrical supply parter - Schneider" 
            />
            

          </div>
        </div>
      </div>
  </div>
</section>

