---
const stats = [
  {
    name: 'Commercial Projects',
    desc: 'Spark success in your workspace with our top-notch electricians for Commercial Projects.',
    value: 'Real Estate Web Design & Marketing',
    link: 'services/commercial',
  },
  {
    name: 'Residential Builds',
    desc: 'Building new homes with care. Trusted by hundreds of happy clients for our quality of work.',
    value: 'E-Commerce / Shopify Optimisation',
    link: 'services/residential',
  },
  {
    name: 'Home Renovations',
    desc: 'Improve your home with renovations such as modern lighting and security systems.',
    value: 'Music Event Web Design & Marketing',
    link: 'services/residential',
  },
  {
    name: 'Phone',
    desc: 'Connecting homes and businesses across Australia seamlessly. Same-day repairs offered.',
    value: 'Health Care Web Design & Branding',
    link: 'services/data',
  },
  {
    name: 'Data',
    desc: 'Connecting homes and businesses across Australia seamlessly. Same-day repairs offered.',
    value: 'Health Care Web Design & Branding',
    link: 'services/data',
  },
  {
    name: 'CCTV',
    desc: 'Installation of CCTV and security camera systems in homes and office for monitoring video survellance.',
    value: 'Health Care Web Design & Branding',
    link: 'services/cctv',
  },
  {
    name: 'Access Control',
    desc: 'Improve your home or commercial space with access control points through-out. Adding value and security.',
    value: 'Health Care Web Design & Branding',
    link: 'services/access',
  },
  {
    name: 'Short Range Call System',
    desc: 'The SRCS by Cura1 is a cutting-edge system for silent alarms in schools and shopping centres.',
    value: 'Music Event Web Design & Marketing',
    link: 'https://www.cura1.com/products/centercall/',
  },
  {
    name: 'Servicing & Maintenance',
    desc: 'Charge up your Telsa safetly and increase your home value with with Certified Tesla Installations.',
    value: 'Health Care Web Design & Branding',
    link: '#faq',
  },
];
---

<style>
  #contain { max-width: 1920px; }
</style>

<section class="my-8">
  <div id="contain" class="mx-auto w-full px-4 sm:px-6 lg:px-8">
    
    <div class="w-full flex flex-col justify-center">

      <dl class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 my-8">
        {
          stats.map((stat) => (
          <a href={stat.link}>  
            <div class="border-primary-900/10 dark:border-primary-300/10 bg-slate-100 dark:bg-slate-900 duration-200 hover:bg-slate-200 rounded-sm border px-4 md:px-6 py-8 sm:py-12 h-full flex flex-col justify-start gap-4">
              
              <dd class="text-slate-950 dark:text-primary-100 text-lg xs:text-xl lg:text-2xl font-medium leading-loose tracking-tighter xs:tracking-tight">{stat.name}</dd>
              <p class="hidden lg:block max-w-lg text-base leading-6">
                    {stat.desc}
                  </p>
            </div>
          </a>
          ))
        }
      </dl>
      <div class="mx-auto">
                      <a
                          href="/services"
                          class="mt-2 mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-md border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
                        >
                          All Services
                      </a>
                    </div>
    </div>
    
  </div>
</section>
