---
const stats = [
  {
    name: 'Commercial Projects',
    desc: 'Spark success in your workspace with our top-notch electricians for Commercial Projects.',
    value: 'Real Estate Web Design & Marketing',
    link: 'services/commercial',
  },
  {
    name: 'Residential Builds',
    desc: 'Building new homes with care. Trusted by hundreds of happy clients for our quality of work.',
    value: 'E-Commerce / Shopify Optimisation',
    link: 'services/residential',
  },
  {
    name: 'Home Renovations',
    desc: 'Improve your home with renovations such as modern lighting and security systems.',
    value: 'Music Event Web Design & Marketing',
    link: 'services/residential',
  },
  {
    name: 'Phone',
    desc: 'Connecting homes and businesses across Australia seamlessly. Same-day repairs offered.',
    value: 'Health Care Web Design & Branding',
    link: 'services/data',
  },
  {
    name: 'Data',
    desc: 'Connecting homes and businesses across Australia seamlessly. Same-day repairs offered.',
    value: 'Health Care Web Design & Branding',
    link: 'services/data',
  },
  {
    name: 'CCTV',
    desc: 'Installation of CCTV and security camera systems in homes and office for monitoring video survellance.',
    value: 'Health Care Web Design & Branding',
    link: 'services/data',
  },
  {
    name: 'Access Control',
    desc: 'Improve your home or commercial space with access control points through-out. Adding value and security.',
    value: 'Health Care Web Design & Branding',
    link: 'services/access',
  },
  {
    name: 'Air Conditioning ',
    desc: 'Urgent air conditioning repairs and installations to keep the house cool, cost-effectively.',
    value: 'Music Event Web Design & Marketing',
    link: '/home#faq',
  },
  {
    name: 'Servicing & Maintenance',
    desc: 'Maintenance for electrical cabling and equipment, helping ensure the longest life and safest use.',
    value: 'Health Care Web Design & Branding',
    link: '/home#faq',
  },
];
---

<style>
  #contain { max-width: 1920px; }
</style>

<section class="my-28">
  <div id="contain" class="mx-auto w-full px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col">
      <div class="flex flex-col justify-center">
        
        <div class="">
          <!-- Mission description -->
          
                  
              <div class="block w-fit">
                <h3 id="chipHeader" class="my-4 px-2 py-1 font-thin uppercase tracking-widest text-xs text-white bg-primary-600 rounded-sm">Trusted for over 15 years</h3>  
              </div>
              <h4 class="text-3xl sm:text-4xl font-medium tracking-tight my-4">All Services</h4>
              <p class="text-xl max-w-4xl my-4">
                Servicing contracts for businesses across Australia, we have a experience in a wide range of electrical services. 
                Helping you with all your technology and electrical installation needs.
              </p>
              
            

      </div>
    </div>
    <div class="w-full flex flex-col justify-center">

      <dl class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 my-12">
        {
          stats.map((stat) => (
          <a href={stat.link}>  
            <div class="border-primary-900/10 dark:border-primary-300/10 bg-slate-100 dark:bg-slate-900 hover:bg-primary-900/10 hover:dark:bg-primary-300/10 duration-200 rounded-sm border px-4 md:px-6 py-8 sm:py-12 h-full flex flex-col justify-start gap-4">
              <dt class="hidden text-xs uppercase font-thin tracking-widest">{stat.value}</dt>
              <dd class="text-slate-950 dark:text-primary-100 text-lg xs:text-xl lg:text-2xl font-medium leading-loose tracking-tighter xs:tracking-tight">{stat.name}</dd>
              <p class="max-w-lg text-lg leading-6">
                    {stat.desc}
                  </p>
            </div>
          </a>
          ))
        }
      </dl>
      
    </div>
    
  </div>
</section>
