---
const stats = [
  {
    name: 'Commercial Projects',
    desc: 'Spark success in your workspace with our top-notch electricians for Commercial Projects.',
    value: 'Real Estate Web Design & Marketing',
    link: '#faq',
  },
  {
    name: 'Residential Builds',
    desc: 'Building new homes with care. Trusted by hundreds of happy clients for our quality of work.',
    value: 'E-Commerce / Shopify Optimisation',
    link: '#faq',
  },
  {
    name: 'Home Renovations',
    desc: 'Improve your home with renovations such as modern lighting and security systems.',
    value: 'Music Event Web Design & Marketing',
    link: '#faq',
  },
  {
    name: 'Electrical Servicing',
    desc: 'Charge up your Telsa safetly and increase your home value with with Certified Tesla Installations.',
    value: 'Health Care Web Design & Branding',
    link: '#faq',
  },
  {
    name: 'Phone',
    desc: 'Connecting homes and businesses across Australia seamlessly. Same-day repairs offered.',
    value: 'Health Care Web Design & Branding',
    link: '#faq',
  },
  {
    name: 'Data',
    desc: 'Connecting homes and businesses across Australia seamlessly. Same-day repairs offered.',
    value: 'Health Care Web Design & Branding',
    link: '#faq',
  },
  {
    name: 'CCTV',
    desc: 'Installation of CCTV and security camera systems in homes and office for monitoring video survellance.',
    value: 'Health Care Web Design & Branding',
    link: '#faq',
  },
  {
    name: 'Access Control',
    desc: 'Improve your home or commercial space with access control points through-out. Adding value and security.',
    value: 'Health Care Web Design & Branding',
    link: '#faq',
  },
  {
    name: 'Air Conditioning ',
    desc: 'Urgent air conditioning repairs and installations to keep the house cool, cost-effectively.',
    value: 'Music Event Web Design & Marketing',
    link: '#faq',
  },
];
---

<style>
  #contain { max-width: 1920px; }
</style>

<section class="my-28">
  <div id="contain" class="mx-auto w-full px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col">
      <div class="flex flex-col justify-center">
        
        <div class="flex flex-col gap-4 sm:gap-6">
          <!-- Mission description -->
          
              <h4 class="text-xs uppercase font-thin tracking-widest">
                Electrical Work you can trust
              </h4>
              <h3 class="text-3xl sm:text-4xl font-medium tracking-tight">Our Services</h3>
              <div class=" ">
                <a
                    href="/services"
                    class="mt-2 mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-md border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
                  >
                    All Services
                </a>
              </div>
            

      </div>
    </div>
    <div class="w-full flex flex-col justify-center">

      <dl class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 my-12">
        {
          stats.map((stat) => (
          <a href={stat.link}>  
            <div class="border-primary-900/10 dark:border-primary-300/10 hover:bg-primary-900/10 hover:dark:bg-primary-300/10 duration-200 rounded-sm border px-4 md:px-6 py-8 sm:py-12 h-full flex flex-col justify-start gap-4">
              <dt class="hidden text-xs uppercase font-thin tracking-widest">{stat.value}</dt>
              <dd class="text-lg xs:text-xl lg:text-2xl font-medium leading-loose tracking-tighter xs:tracking-tight">{stat.name}</dd>
              <p class="text-primary-900 dark:text-primary-100 max-w-lg text-base leading-6">
                    {stat.desc}
                  </p>
            </div>
          </a>
          ))
        }
      </dl>
      
    </div>
    
  </div>
</section>
