<style>
  #contain { max-width: 1920px; }
</style>

<div class="my-16 lg:my-24">
  <div id="contain" class="py-16 lg:py-24 bg-slate-900 mx-auto max-w-7xl w-full">
    <div>
      <div class="w-full max-w-7xl mx-auto flex flex-col lg:flex-row items-start md:items-center gap-8 px-4 sm:px-6 lg:px-8">
        
        <div id="leftContainer" class="text-white block md:w-1/2 lg:w-2/3 w-full lg:max-w-3xl my-6">
          <div class="block w-fit">
            <h6 class="mb-4 px-2 py-1 font-thin uppercase tracking-widest text-xs text-white bg-primary-600 rounded-sm">
              <slot name="smltitle">Small Title</slot>
            </h6>
          </div>
          <h5 class="text-3xl sm:text-4xl md:text-5xl max-w-2xl font-medium tracking-tight">
            <slot name="title">Large Header for conversion</slot>
          </h5>
          <p class="text-lg md:text-xl  max-w-3xl lg:max-w-lg mt-4">
            <slot name="desc">Slot text area</slot>
          </p>
        </div>
  
        <div id="rightContainer" class="w-full md:w-1/2 lg:w-1/3 h-auto mx-auto bg-contain max-w-full align-middle">
          <slot name="cover"></slot>
        </div>

      </div>
    </div>
  </div>
</div>