---
export interface Props {

heroBackgroundUrl: string
}

const {heroBackgroundUrl} = Astro.props
---    

<style define:vars={{ heroBackgroundUrl }}>

.carousel-container {
  max-width: 1920px;
}

</style>



<section class="my-28 lg:my-48">
  <div class="limit-container">
    <div class="main-carousel">
      
      <div class="carousel-cell px-4 sm:px-6 lg:px-8 py-8">
        <div class="carousel-container h-full w-full m-auto">
          <div class="carousel-inner flex flex-col text-white bg-slate-900 gap-4 sm:gap-6 px-4 sm:px-6 lg:px-8 py-8 sm:py-12">
            <h1 class="text-base uppercase font-thin tracking-widest">
              <slot name="smltitle">Small Title</slot>
            </h1>
            <h2 class="font-medium tracking-tighter md:tracking-tight text-4xl md:text-5xl max-w-7xl">
              <slot name="title">Title</slot>
            </h2>
            <p class="text-lg lg:text-xl max-w-5xl">
              <slot name="desc">Desc</slot>
            </p>
            <div class="pt-2 flex gap-6">
              <a href="/enquire" class="text-lg text-white dark:text-white bg-primary-700 hover:bg-primary-400 items-center inline-flex font-medium justify-center rounded-full transition px-6 py-4 mr-2">Enquire</a>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
